<div class="d-flex team-vs" style="margin-bottom: 150px">
  <span class="score">
    <span
      [ngClass]="{
        'vert': compare(data.scoreOne, data.scoreTwo) == 'win',
        'rouge': compare(data.scoreOne, data.scoreTwo) == 'loss',
        'bleu': compare(data.scoreOne, data.scoreTwo) == 'draw'
      }"
      >{{ data.scoreOne }}</span
    >
    -
    <span
      [ngClass]="{
        'vert': compare(data.scoreTwo, data.scoreOne) == 'win',
        'rouge': compare(data.scoreTwo, data.scoreOne) == 'loss',
        'bleu': compare(data.scoreTwo, data.scoreOne) == 'draw'
      }"
      >{{ data.scoreTwo }}</span
    >
    <div class="form-group">
      <button class="btn btn-success" (click)='goToMatch(data.id)'>Display match</button><br>
      <button class="btn btn-danger" (click)='deleteMatch(data.id)'>Delete match</button>
    </div>
    </span
  >
  <div class="team-1 w-50">
    <div class="team-details w-100 text-center">
      <img src="assets/images/logo_1.png" alt="Image" class="img-fluid" />
      <h3>
        {{ data.teamOne }}
        <span> ({{ compare(data.scoreOne, data.scoreTwo) }})</span>
      </h3>
      <ul class="list-unstyled">
        <li>Anja Landry (7)</li>
        <li>Eadie Salinas (12)</li>
        <li>Ashton Allen (10)</li>
        <li>Baxter Metcalfe (5)</li>
      </ul>
    </div>

  </div>
  <div class="team-2 w-50">
    <div class="team-details w-100 text-center">
      <img src="assets/images/logo_2.png" alt="Image" class="img-fluid" />
      <h3>
        {{ data.teamTwo }}
        <span>({{ compare(data.scoreTwo, data.scoreOne) }})</span>
      </h3>
      <ul class="list-unstyled">
        <li>Macauly Green (3)</li>
        <li>Arham Stark (8)</li>
        <li>Stephan Murillo (9)</li>
        <li>Ned Ritter (5)</li>
      </ul>
    </div>
  </div>
</div>
