<div class="post-entry">
    <a href="#">
      <img src={{dataInfo.image}} alt="Image" class="img-fluid">
      <!-- <img [src]="dataInfo.image" alt="Image" class="img-fluid"> -->
    </a>
    <div class="caption">
      <div class="caption-inner">
        <h3 class="mb-3">{{dataInfo.name}}</h3>
        <div class="author d-flex align-items-center">
          <div class="img mb-2 mr-3">
            <img src={{dataInfo.image}} alt="">
          </div>
          <div class="text">
            <h4>{{dataInfo.id}}</h4>
            <span>{{dataInfo.date}}</span>
          </div>
        </div>
      </div>
    </div> 
  </div>